<h1>New subcategory</h1>

<%= render "form", category: @category, subcategory: @subcategory %>

<br>

<div>
  <%= link_to "Vuelve a subcategorias", category_subcategories_path(@category), class: "btn btn-secondary" %>
</div>
