<div class="container col-md-6 col-md-offset-3">
<h1>Editar Marca</h1>

<%= render "form", marca: @marca %>

<br>

<div>
  <%= link_to "Muestre esta marca", marca_path(@marca) %> |
  <%= link_to "Vuelve a marcas", marcas_path %>
</div>
</div>