<h1>Edit Marca</h1>

<%= render "form", marca: @marca %>

<br>

<div>
  <%= link_to "Show this marca", category_subcategory_marca_path(params[:category_id], params[:subcategory_id], @marca) %> |
  <%= link_to "Back to marcas", category_subcategory_marcas_path(params[:category_id], params[:subcategory_id]) %>
</div>
