@import "bootstrap";
@import "font-awesome";

body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body { 
  background-image: url('3437.jpg'); // Correct the image path
  background-size: cover; // Ensure the image covers the entire body
  background-position: center; // Center the background image
  }

.sidebar {
  width: 250px;
  text-align: center; // Center the text
  color: white;
  padding: 15px;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  a {
    color: white;
    text-decoration: none; // Remove underline
    &:hover {
      color: lightgray; // Optional: change color on hover
    }
  }
}

.main-content {
  flex-grow: 1;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 250px; /* Adjust this value based on the width of the sidebar */
  padding: 20px;
}

.card {
  background-image: url("https://i.pinimg.com/736x/2f/b5/8b/2fb58hb559e16b660517a4b8ed29792f3.jpg"); // Apply background image
  background-size: cover; // Ensure the image covers the entire card
  background-position: center; // Center the image
  &:hover {
    box-shadow: 0 0 11px rgba(12, 144, 167, 0.733); 
    border: rgb(80, 220, 255) 1px solid; // Add a coral border on hover
    transform: scale(1.15); // Slightly increase size on hover
    transition: transform 0.2s, background-color 0.2s; // Smooth transition
  } 
}
