<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <main class="col-md-6 ml-sm-auto col-lg-8 px-md-4">
      <h1>Editar Sucursal</h1>

      <%= render "form", almacen: @almacen %>

      <br>
      <div class="d-flex justify-content-between">
        <%= link_to :back, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-arrow-left"></i> Volver
        <% end %>
        <%= button_to almacen_path(@almacen), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" do %>
          <i class="fas fa-trash-alt"></i> Eliminar Sucursal
        <% end %>
      </div>
    </main>
  </div>
</div>