<p style="color: green"><%= notice %></p>

<h1>Almacens</h1>

<div id="almacens">
  <% @almacens.each do |almacen| %>
    <%= render almacen %>
    <p>
      <%= link_to "Show this almacen", almacen %>
    </p>
  <% end %>
</div>

<%= link_to "New almacen", new_almacen_path %>
