<div class="container-fluid">
  <div class="row">
    <%= render 'nav' %>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <h1>New almacen</h1>

      <%= render "form", almacen: @almacen %>

      <br>

      <div>
        <%= link_to "Back to almacens", almacens_path %>
      </div>
    </main>
  </div>
</div>
