<div id="<%= dom_id product %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><strong>Nombre:</strong> <%= product.name %></h5>
    <p class="card-text"><strong>Descripción:</strong> <%= product.description %></p>
  </div>
</div>
